*{
    margin: 0;
    padding: 0;
font-family: sans-serif;
}
/*Navigation Bar and Banner*/
.banner{
    width: 100%;
    height: 100vh;
    background-color: rgb(63, 62, 62);
    overflow-y: visible;
}
.navbar{
    width: 90%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Muscle Map{
    width: 150px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(227, 223, 223);
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 2px;
    width: 0;
    background: rgb(227, 223, 223);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
/*Home Page writing and button*/
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}
.content hl{
    font-size: 10px;
    margin-top: 80px;
}
.content p{
    margin: 15px auto;
    font-weight: 100;
    line-height: 20px;
}
button{
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
}
.whiteline { 
    display: block;
    border: 0;
    width:100%; 
    height:7px; 
    background: #4a4747 
}
/*Dropdown menu*/
.dropdown__menu{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    top:110%;
    min-width: 150px;
    z-index: 1;
}
.dropdown a{
    float:none;
    text-align:left;
}
.dropdown__menu ul{
    display: block;
    margin: 10px;
}
.dropdown__menu ul li{
    width: 150px;
    padding: 5px;
}
.navbar ul li:hover .dropdown__menu {
    display: block;
}
/*Upper Body and Lower Body Home Pag Layouts*/
.uppbody{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}
.lowbody{    
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}
p{
    line-height: 1.5;
    font-size: 15px;
}

/*Chest Content*/
.chestbackground{
    width: 100%;
    height: 330vh;
    background-color: rgb(63, 62, 62);
    overflow-y: visible;
}
.chestcontent{
    width: 100%;
    position: absolute;
    top: 28%;
    text-align: center;    
    color: #fff;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.uppchestcontent{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center;    
}
.chestimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
.lowerchesttitle{
    width: 100%;
    position: absolute;
    top: 45%;
    text-align: center;    
    color: #fff;
    padding-bottom: 20px;
}
.lowerchestcontent{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center;  
}
.middlechesttitle{
    width: 100%;
    position: absolute;
    top: 65.5%;
    text-align: center;    
    color: #fff;
    padding-bottom: 20px;
}
.middlechestcontent{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center;
}
/*Back Content*/
.backbackground{
    width: 100%;
    height: 330vh;
    background-color: rgb(63, 62, 62);
    overflow-y: visible;
}
.backcontent{
    width: 100%;
    position: absolute;
    top: 28%;
    text-align: center;    
    color: #fff;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.uppbackcontent{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center;    
}
.backimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
.middlebackcontent{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center;    
}
.latscontent{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center;  
}
.latsimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
/*Shoulders Content*/
.shouldersbackground{
    width: 100%;
    height: 235vh;
    background-color: rgb(63, 62, 62);
    overflow-y: visible;
}
.shoulderscontent{
    width: 100%;
    position: absolute;
    top: 28%;
    text-align: center;    
    color: #fff;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.frontdelt{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center;   
}
.fdimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
.sidedelts{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center;   
}
.sdimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
.reardelts{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center;   
}
.rdimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
/*ARMS CONTENT*/
.armsbackground{
    width: 100%;
    height: 330vh;
    background-color: rgb(63, 62, 62);
    overflow-y: visible;
}
.armscontent{
    width: 100%;
    position: absolute;
    top: 28%;
    text-align: center;    
    color: #fff;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.biceps{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center;   
}
.bicepimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
.triceps{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center;   
}
.tricepimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
.traps{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center;   
}
.trapsimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
/*QUADS HAMMMIES*/
.quadsbackground{
    width: 100%;
    height: 375vh;
    background-color: rgb(63, 62, 62);
    overflow-y: visible;
}
.quadscontent{
    width: 100%;
    position: absolute;
    top: 28%;
    text-align: center;    
    color: #fff;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.quads{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center;   
}
.quadsimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
.hamstrings{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center; 
}
.hammyimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
.quadhammies{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center; 
}
.quadhammiesimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
/*Glutes/ Abductors Content*/
.glutesbackground{
    width: 100%;
    height: 230vh;
    background-color: rgb(63, 62, 62);
    overflow-y: visible;
}
.glutescontent{
    width: 100%;
    position: absolute;
    top: 28%;
    text-align: center;    
    color: #fff;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.glutes{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center; 
}
.glutesimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
.abductors{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center; 
}
.abductorsimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
.calves{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center; 
}
.calvesimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
/*Abs Content*/
.absbackground{
    width: 100%;
    height: 170vh;
    background-color: rgb(63, 62, 62);
    overflow-y: visible;
}
.abscontent{
    width: 100%;
    position: absolute;
    top: 28%;
    text-align: center;    
    color: #fff;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.abs{
    display: flex;
    padding: .5rem;
    flex-direction: row;
    justify-content: center; 
}
.absimages{
    display: flex;
    max-width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}
/*About Me Content*/
.aboutmecontent{
    width: 100%;
    position: absolute;
    top: 28%;
    text-align: center;    
    color: #fff;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
/*Splits Content*/
.splitsbackground{
    width: 100%;
    height: 500vh;
    background-color: rgb(63, 62, 62);
    overflow-y: visible;
}
.splitscontent{
    width: 100%;
    position: absolute;
    top: 28%;
    text-align: center;    
    color: #fff;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}